@font-face{
    font-family: "ft-icons";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/icons.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/icons.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "MillerDisplay";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Roman.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "MillerDisplay";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Bold.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold; 
}

@font-face{
    font-family: "MillerDisplay";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Italic.ttf") format("truetype"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Roman.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: "MillerDisplay";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-SemiboldItal.ttf") format("truetype"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/MillerDisplay-Bold.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face{
    font-family: "BentonSans";
    src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot");
    src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot?#iefix") format("embedded-opentype"), 
    url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansRegular.woff") format("woff"),
    url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "BentonSans";
    src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot");
    src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot?#iefix") format("embedded-opentype"), 
    url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansBold.woff") format("woff"),
    url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "BentonSans";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansLight.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}

@font-face{
    font-family: "Clarion";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Clarion";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion-Italic.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: "Clarion";
    src: url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion-Bold.woff") format("woff"),
        url("http://interactivegraphics.ft-static.com/inc/fonts/Clarion-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
