//
// false, 'flex', 'page', 'rail', 'moreon', 'body', 'secondary'
$m-container-width: 'page' !default;

$m-namespace: 'm' !default; //'m';
$m-root-class-name: '#{$m-namespace}-root';

// adds the border above or below the interactive
$m-top-border:      true !default;
$m-bottom-border:   false !default;

$m-include-trumps: true !default;
$m-include-blank-page: true !default;

// px widths for the various container-widths
$m-container-width-page:      $ft-falcon-page-width !default;
$m-container-width-rail:      $ft-falcon-rail-width !default;
$m-container-width-body:      $ft-falcon-body-width !default;
$m-container-width-moreon:    $ft-falcon-moreon-width !default;
$m-container-width-secondary: $ft-falcon-secondary-pic-width !default;

$m-font-size-h1:              2    !default;
$m-font-size-h2:              1.8  !default;
$m-font-size-h3:              1.5  !default;
$m-font-size-h4:              1.4  !default;
$m-font-size-h5:              1.25 !default;
$m-font-size-h6:              1    !default;
$m-font-size-body:            1    !default;
$m-font-size-body-small:      0.8  !default;
$m-font-size-caption:         0.8  !default;
$m-font-size-caption-small:   0.6  !default;

$m-vertical-h1:                 1em !default;
$m-vertical-h2:                 1em !default;
$m-vertical-h3:                 1em !default;
$m-vertical-h4:                 1em !default;
$m-vertical-h5:                 1em !default;
$m-vertical-h6:                 1em !default;
$m-vertical-p:                  1em !default;
$m-vertical-img:                1 !default;

// font colors
$m-font-color-header:         $ft-color-black-text !default;
$m-font-color-header-muted:   $ft-color-black-text !default;
$m-font-color-body:           $ft-color-black-text !default;
$m-font-color-body-muted:     $ft-color-black-text !default;
$m-font-color-caption:        $ft-color-black-text !default;
$m-font-color-link:           $ft-color-linkblue-text !default;
$m-font-color-link-hover:     $ft-color-black-text !default;

// background colors
$m-body-bg:                   $ft-color-primarypink !default;
$m-panel-bg:                  $ft-color-tint1 !default;

// semantic colors
// $m-font-color-warning:        $m-color-orange !default;
// $m-font-color-error:          $m-color-red !default;
// $m-font-color-info:           $m-color-blue !default;
// $m-font-color-success:        $m-color-green !default;
