@import "var";
@import "font";
@import "type";

html, body {
  background-color: $ft-primarypink;
}

body.top-border{
  border-top: $ft-hr-rule;
}

body.bottom-border{
  border-bottom: $ft-hr-rule;
}

body.wide, body.narrow {
  margin: 0 auto;
  overflow-x: hidden;
}

body.wide{
  width: 972px;
}

body.narrow{
  width: 600px;
}

.invisible {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
  display: none;
}

.instruction{
    font-family: $clarion;
    font-size: 14px;
    font-style: italic;
    color: $ft-claret-text;
}
